.emoji {
  font-size: calc(70px + 4vw);
  min-width: 1.4em;
  text-align: center;
}

.emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.hourglass::after {
  content: '⏳';
  --emoji: '⌛️';
  animation-name: twoFrames;
  animation-duration: 1.2s;
}

@keyframes twoFrames {
  50% {
    content: var(--emoji);
  }
}

@keyframes threeFrames {
  33.333% {
    content: var(--emoji-1);
  }

  66.666% {
    content: var(--emoji-2);
  }
}

@media all and (max-width: 480px) {
    /*site-banner { width: auto; height: auto;}*/
}
