.emoji {
  font-size: calc(70px + 4vw);
  min-width: 1.4em;
  text-align: center;
}

.emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.hourglass::after {
  content: '⏳';
  --emoji: '⌛️';
  animation-name: twoFrames;
  animation-duration: 1.2s;
}

@keyframes twoFrames {
  50% {
    content: var(--emoji);
  }
}

@keyframes threeFrames {
  33.333% {
    content: var(--emoji-1);
  }

  66.666% {
    content: var(--emoji-2);
  }
}

@media only screen and (max-width: 768px) {
  /* For responsive */
  [class*="col-"] {
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
