@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

body,
html {
  background: radial-gradient(circle,
      rgb(175, 255, 182),
      rgb(175, 255, 182));
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Luckiest Guy", cursive;
}

h1 {
  margin-bottom: 5rem;
  font-size: 4em;
  padding: 0;
  color: white;
  text-shadow: 0 0.1em 20px rgb(0, 103, 4), 0.05em -0.03em 0 rgb(0, 103, 4),
    0.05em 0.005em 0 rgb(0, 103, 4), 0em 0.08em 0 rgb(0, 103, 4),
    0.05em 0.08em 0 rgb(0, 103, 4), 0px -0.03em 0 rgb(0, 103, 4),
    -0.03em -0.03em 0 rgb(0, 103, 4), -0.03em 0.08em 0 rgb(0, 103, 4), -0.03em 0 0 rgb(0, 103, 4);

  span {
    transform: scale(0.9);
    display: inline-block;
  }

  span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
  }

  span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container>* {
  /*işareti herşeyi seçiyor*/
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  text-align: center;
}

.text-center {
  text-align: center;
}

/* Buttons */
.btn {
  font-size: 2rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid rgb(0, 103, 4);
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(0, 103, 4);
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 255, 255, 1);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

@media only screen and (max-width: 768px) {
  /* For responsive */
  [class*="col-"] {
    width: 100%;
  }
}
